In [8]:
import pandas as pd

In [71]:
df = pd.read_csv('college-salary-report.csv',names=['Rank','Major','Degree Type','Early Career Pay','Mid Career Pay', 'High Meaning'], header=0)

In [72]:
df.head()

,Rank,Major,Degree Type,Early Career Pay,Mid Career Pay,High Meaning
0,1,Petroleum Engineering,Bachelors,"$92,300","$182,000",69%
1,2,Electrical Engineering & Computer Science (EECS),Bachelors,"$101,200","$152,300",46%
2,3,Applied Economics and Management,Bachelors,"$60,900","$139,600",67%
3,3,Operations Research,Bachelors,"$78,400","$139,600",52%
4,5,Public Accounting,Bachelors,"$60,000","$138,800",49%

In [74]:
df.index

RangeIndex(start=0, stop=834, step=1)

In [76]:
df['Degree Type']

0      Bachelors
1      Bachelors
2      Bachelors
3      Bachelors
4      Bachelors
         ...
829    Bachelors
830    Bachelors
831    Bachelors
832    Bachelors
833    Bachelors
Name: Degree Type, Length: 834, dtype: object